@charset "utf-8";
/* CSS Document */

#select{width:300px;height:300px;position:absolute;bottom:0;left:0;z-index:31;
	transform-style:preserve-3d;	
}
#select .user{position:absolute;left:50%;top:50%;margin-left:-50px;margin-top:-50px;display:block;cursor:pointer;}
#select .text{position:absolute;left:102px;top:202px;font:italic bold 22px "kaiti";color:#2d2111;text-shadow:3px 2px 1px #7c6545;}
#select .menu{position:absolute;left:150px;top:0px;margin-top:-25px;margin-left:-25px;width:50px;height:50px;opacity:0;cursor:pointer;
	transition:1s all ease-out;
	-webkit-transform-origin:25px 175px;
	-moz-transform-origin:25px 175px;
	-ms-transform-origin:25px 175px;
	transform:perspective(800px) rotateZ(0deg);
}
#cvs{display:none;background:rgba(100%,100%,100%,0);position:absolute;top:50%;left:50%;margin-left:-300px;border-radius:30%;margin-top:-250px;transition:2s all ease;z-index:30;} 	

#bg{display:none;position:absolute;left:0;top:0;width:100%;height:500px;z-index:21;background:#000;}

#html1{display:none;position:relative;width:480px; height:260px; margin:100px auto;}
#html1 li{ position:absolute;left:0;top:0; opacity:0; display:none;width:100%; height:100%;cursor:pointer;
transform: perspective(800px) translateX(0)  rotateY(0deg) ;
transition:1s all ease;
}

#html1 li.l2{ display:block;
transform: perspective(800px) translateX(-300px)  rotateY(45deg) ; z-index:1;}
#html1 li.l1{ display:block; opacity:1; 
transform: perspective(800px) translateX(-200px)  rotateY(45deg) ; z-index:2;}
#html1 li.cur{ display:block; opacity:1; z-index:5;}
#html1 li.r1{ display:block; opacity:1; 
transform: perspective(800px) translateX(200px)  rotateY(-45deg) ;z-index:2;}
#html1 li.r2{ display:block;
transform: perspective(800px) translateX(300px)  rotateY(-45deg) ;z-index:1;}
#html1 li img{width:500px;height:250px;}
#html1 input{position:absolute;left:50%;top:50%;width:120px;height:50px;z-index:5;margin-top:150px;margin-left:-180px;font:italic bold 22px "kaiti";outline:none;border:none;border-radius:10%;background:rgba(0,204,0,0.3);cursor:pointer;}
#html1 .next{margin-left:70px;}

#html2{display:none;position:absolute;left:50%;top:50%; margin-left:-66px; margin-top:-100px;width:133px; height:200px; transform:perspective(1200px) rotateX(-15deg) rotateY(0deg);transform-style:preserve-3d;}
#html2 li{position:absolute;left:0;top:0;width:100%; height:100%;cursor:pointer;

 -transform:rotateY(0deg)  translateZ(0px);
 transition:1s all ease; 
 border-radius:10px;
 box-shadow:0 0 5px 2px #fff;
 overflow:hidden;
}